* {
    /*everything 0 */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Dosis', sans-serif;
}

html {
    min-height: 100%;
}
body {
    background-image: linear-gradient(to bottom,rgba(231, 40, 112, 0.5) ,rgba(97, 209, 214, 0.5 )) , url('../assets/background\ \(1\).png');
    background-repeat: repeat;
    background-size: 10%;
}

/* ----------------header / nav ----------------- */
nav {
    background-color: #E72870;
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    padding: 10px;
    font-weight: 550;
    top: 35px;
    height: 44.8px;
    font-size: 19.2px;
}

nav a:hover {
    color: #F7E23A;
}

.logo img {
    width: 137.66px;
    vertical-align: middle;
    position: fixed;
    top: 20px;

}
.logo {
    position: absolute;
    top: 20px;
    left: 300px;
}

.profileIcon{
    width: 20px;
    height: 20px;
}

.changePassword{
    background-color: white;
    border-radius: 30px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;

    font-family: 'Dosis', sans-serif;
}

.changePassword h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.changePassword input{
    background-color: #dbdbdb;
    font-size: 30px;
    height: 30px;
    margin-top: 10px;

    margin-bottom: 30px;
    padding: 10px 20px;

    border-radius: 10px;
}

.changePassword input:focus-visible{
border: solid #E72870 2px;
}

.changePassword label{
    font-size: 30px;
}

.subBtn{
    text-align: center;
    width: 200px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

    padding: 10px 15px;
    
    border: solid #E72870 2px;
    border-radius: 6px;
}

.formValidation{
    text-align: center;

    margin-bottom: 10px;
    font-size: 20px;
}


